language: node_js

node_js:
  - "5"
  - "6"
  - "7.10"
  - "8.4"

cache:
  yarn: true
  directories:
    - node_modules

install:
  - npm install -g yarn
  - yarn

script:
  - yarn build
  - yarn checkpack -- vanillajs -e test/checkpack.ts --validate
  - yarn checkpack -- browserify -e test/checkpack.ts --validate
  - yarn checkpack -- webpack -e test/checkpack.ts --validate
